In [4]:
import pandas as pd

In [5]:
df = pd.read_csv(r"Z:\YEAR 2\ML\DATASET\decisionTree_computer.csv")

In [6]:
df

    Age  Salary  Purchased
0    19   19000          0
1    35   20000          0
2    26   43000          0
3    27   57000          0
4    19   76000          0
5    27   58000          0
6    27   84000          0
7    32  150000          1
8    25   33000          0
9    35   65000          0
10   26   80000          0
11   26   52000          0
12   20   86000          0
13   32   18000          0
14   18   82000          0
15   29   80000          0
16   47   25000          1
17   45   26000          1
18   46   28000          1
19   48   29000          1
20   45   22000          1
21   47   49000          1
22   48   41000          1
23   45   22000          1
24   46   23000          1
25   47   20000          1
26   49   28000          1
27   47   30000          1
28   29   43000          0
29   31   18000          0
30   31   74000          0
31   27  137000          1
32   21   16000          0
33   28   44000          0
34   27   90000          0
35   35   27000          0
36   33   28000          0
37   30   49000          0
38   26   72000          0
39   27   31000          0
40   27   17000          0
41   33   51000          0
42   35  108000          0
43   30   15000          0
44   28   84000          0
45   23   20000          0
46   25   79000          0
47   27   54000          0
48   30  135000          1

In [7]:
x=df.iloc[:,[0,1]].values
y=df.iloc[:,2].values

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.25,random_state=10)

In [9]:
x_train

array([[    21,  16000],
       [    26,  80000],
       [    47,  49000],
       [    35,  27000],
       [    47,  30000],
       [    46,  28000],
       [    27, 137000],
       [    35,  20000],
       [    20,  86000],
       [    27,  90000],
       [    28,  84000],
       [    49,  28000],
       [    27,  58000],
       [    32,  18000],
       [    48,  41000],
       [    48,  29000],
       [    45,  26000],
       [    18,  82000],
       [    19,  76000],
       [    27,  17000],
       [    28,  44000],
       [    46,  23000],
       [    26,  52000],
       [    47,  25000],
       [    27,  54000],
       [    23,  20000],
       [    30, 135000],
       [    25,  33000],
       [    35, 108000],
       [    31,  18000],
       [    47,  20000],
       [    29,  43000],
       [    19,  19000],
       [    29,  80000],
       [    33,  28000],
       [    35,  65000]], dtype=int64)

In [10]:
x_test

array([[    30,  49000],
       [    45,  22000],
       [    30,  15000],
       [    33,  51000],
       [    25,  79000],
       [    45,  22000],
       [    27,  57000],
       [    31,  74000],
       [    32, 150000],
       [    27,  84000],
       [    26,  72000],
       [    26,  43000],
       [    27,  31000]], dtype=int64)

In [11]:
y_train

array([0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0], dtype=int64)

In [12]:
y_test

array([0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0], dtype=int64)

In [13]:
from sklearn.preprocessing import StandardScaler
st_x=StandardScaler()
x_train = st_x.fit_transform(x_train)
x_test = st_x.transform(x_test)

In [15]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(criterion='entropy')
model.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [16]:
y_pred = model.predict(x_test)

In [18]:
from sklearn.metrics import confusion_matrix, precision_score, recall_score
cm = confusion_matrix(y_test,y_pred)
cm

array([[10,  0],
       [ 0,  3]], dtype=int64)

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)*100

100.0

In [20]:
recall_score(y_test, y_pred, pos_label=1, average='binary')

1.0

In [21]:
precision_score(y_test, y_pred, pos_label=1, average='binary')

1.0