In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"Z:\YEAR 2\ML\DATASET\driver_dataset.csv")

In [3]:
df

    id  mean_dist_day  mean_over_speed_perc
0    2          71.24                    28
1    3          52.53                    25
2    4          64.54                    27
3    5          55.69                    22
4    6          54.58                    25
..  ..            ...                   ...
74  76          54.06                    20
75  77          72.91                    30
76  78          61.92                    40
77  79          44.20                    24
78  80          60.75                    39

[79 rows x 3 columns]

In [4]:
from sklearn.cluster import KMeans

In [7]:
model = KMeans(n_clusters=3)

In [8]:
model.fit(df)

KMeans(n_clusters=3)

In [16]:
df['cluster']=model.labels_

In [19]:
df

    id  mean_dist_day  mean_over_speed_perc  cluster
0    2          71.24                    28        0
1    3          52.53                    25        0
2    4          64.54                    27        0
3    5          55.69                    22        0
4    6          54.58                    25        0
..  ..            ...                   ...      ...
74  76          54.06                    20        1
75  77          72.91                    30        1
76  78          61.92                    40        1
77  79          44.20                    24        1
78  80          60.75                    39        1

[79 rows x 4 columns]